<div class="category">
  <div class="container mx-auto">
    <h2 class="category__header">Что вы можете заказать у нас</h2>
    <div class="cards">
      <div class="card">{{>picture imgClass="card__img" setPath="/assets/img/content/robe.jpg"
        srcPath="/assets/img/content/robe.jpg" alt="халат"}}<span class="card__title">Махровые халаты</span><button
          class="btn-primary btn-wide btn-lg font-medium">Заказать</button></div>
      <div class="card">{{>picture imgClass="card__img" setPath="/assets/img/content/towel.jpg"
        srcPath="/assets/img/content/towel.jpg"
        alt="халат"}}<span class="card__title">Махровые полотенца</span><button
          class="btn-primary btn-wide btn-lg font-medium">Заказать</button></div>
      <div class="card">{{>picture imgClass="card__img" setPath="/assets/img/content/rug.jpg"
        srcPath="/assets/img/content/rug.jpg"
        alt="халат"}}<span class="card__title">коврики для ног</span><button
          class="btn-primary btn-wide btn-lg font-medium">Заказать</button></div>
    </div>
  </div>
</div>