<div class="customer-brands">
  <div class="container mx-auto max-w-7xl">
    <h2 class="screen-upper-title">нам доверяют</h2>
    <ul class="brand-list">
      <li class="list-item"><img src="/assets/img/content/brands/01.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/02.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/03.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/04.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/05.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/06.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/07.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/08.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/09.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/010.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/011.png" alt=""></li>
      <li class="list-item"><img src="/assets/img/content/brands/012.png" alt=""></li>
    </ul>
  </div>
</div>