<div class="free-offer">
  <div class="hero min-h-[50vh]" style="background-image: url(/assets/img/content/free-offer.jpg);">
    <div class="hero-overlay !bg-opacity-40 !bg-black"></div>
    <div class="container mx-auto flex flex-col items-center gap-8 hero-content">
      <div class="hero-overlay bg-opacity-60"></div>
      <h2 class="free-offer__title">Получите образцы нашей продукции <span
          class="text-[#FFB359]">бесплатно</span></h2>
      <p class="free-offer__description">Только для организаций сферы horeca</p>
      <button class="btn-primary btn-lg btn-wide">Получить образцы</button>
    </div>

  </div>
</div>