<div class="screen-gallery">
  <div class="container mx-auto max-w-7xl">
    <h2 class="screen-upper-title">производственные мощности</h2>
    <div class="gallery">
      <div class="left-img">
        <img src="/assets/img/content/gallery/left.jpg" alt="">
      </div>
      <div class="center-img">
        <img src="/assets/img/content/gallery/c-top.jpg" alt=""><img src="/assets/img/content/gallery/c-bot.jpg" alt="">
      </div>
      <div class="right-img"><img src="/assets/img/content/gallery/right.jpg" alt=""></div>
    </div>
  </div>
</div>