<div class="guest-form">
  <div class="hero min-h-[50vh]">
    <img class="absolute -top-4 left-0" src="/assets/img/content/guest-form/top/bathrobe.png" alt="">
    <img class="absolute justify-self-end" src="/assets/img/content/guest-form/top/towel.png" alt="">
    <div class="hero-overlay bg-base-100"></div>
    <div class="container mx-auto flex flex-col text-center items-center gap-8 hero-content">
      <!-- <div class="hero-overlay bg-opacity-60"></div> -->
      <h2 class="guest-form__title">Закажите махровые изделия
        для комфорта ваших гостей</h2>
      <label class="">
        <span class="font-bold text-xl">Напишите свой номер телефона, и вы получите расчёт вашего заказа в течение 30
          минут.</span>
      </label>
      <form action="" class="get-phone">
        <input class="guest-form__input" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?"
          placeholder="+380 (___) ___-__-__">
        <button class="btn-primary btn-lg btn-wide">Заказать</button>
      </form>
    </div>
  </div>
</div>