<div class="hero min-h-[75vh]">
  <!-- <div class="hero-overlay bg-opacity-60">
  </div> -->
  <div class="container max-w-7xl z-10 self-start">
    <div class="hero-content font-serif justify-self-start self-start justify-start">
      <!-- <img src="/hero-bg.png" class="max-w-sm rounded-lg shadow-2xl" /> -->
      <div class="max-w-xl justify-self-start">
        <h1 class="mb-5 text-5xl font-bold text-primary">Махровые изделия для гостиниц оптом со скидкой до 50%</h1>
        <div class="button-group flex gap-6"><button class="btn btn-outline btn-primary btn-wide rounded-none">Посмотреть
            каталог</button><button class="btn btn-primary btn-wide rounded-none">Заказать</button></div>
        <div class="advantages">
          <ul>
            <li class="list-item"><svg class="advantages__icon">
                <use xlink:href="#Clock"></use>
              </svg>Швейная фабрика полного цикла</li>
            <li class="list-item"><svg class="advantages__icon">
                <use xlink:href="#People"></use>
              </svg>Более 6000 гостиниц доверяют нам</li>
            <li class="list-item"><svg class="advantages__icon">
                <use xlink:href="#Storage"></use>
              </svg>Все в наличии на собственных складах</li>
          </ul>
          <ul>
            <li class="list-item"><svg class="advantages__icon">
                <use xlink:href="#Product"></use>
              </svg>Более 1 500 000 изделий произведено</li>
            <li class="list-item"><svg class="advantages__icon">
                <use xlink:href="#Medal"></use>
              </svg>С 2011 года надежный поставщик</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-bg">
    <img src="/hero-bg.png" class="h-full w-full" />
  </div>
</div>