<div class="logo-form">
  <div class="hero min-h-[50vh]">
    <img class="justify-self-end" src="/assets/img/content/logo-form-bg.jpg" alt="">
    <div class="hero-overlay bg-gradient-to-r from-neutral from-10% via-neutral via-20% bg-opacity-0"></div>
    <div class="container mx-auto flex flex-col items-start gap-8 hero-content">
      <!-- <div class="hero-overlay bg-opacity-60"></div> -->
      <h2 class="logo-form__title">ВЫ МОЖЕТЕ ЗАКАЗАТЬ ИЗДЕЛИЕ С НАНЕСЕНИЕМ ФИРМЕННОГО ЛОГОТИПА</h2>
      <label class="">
        <span class="font-bold text-xl">Ваш телефон</span>
      </label>
      <form action="" class="get-phone">
        <input class="logo-form__input" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?"
          placeholder="+380 (___) ___-__-__">
        <button class="btn-primary btn-lg btn-wide">Заказать</button>
      </form>
    </div>
  </div>
</div>