<div class="reviews">
  <div class="container mx-auto max-w-7xl">
    <h2 class="reviews__title">Что о нас говорят клиенты</h2>
    <div class="reviews__slider">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {{>slide}}
          {{>slide}}
          {{>slide}}
        </div>
        <div class="swiper-button-prev"><svg class="icon stroke-primary fill-primary">
            <use xlink:href="#Arrow"></use>
          </svg></div>
        <div class="swiper-button-next"><svg class="icon stroke-primary fill-primary">
            <use xlink:href="#Arrow"></use>
          </svg></div>
      </div>
    </div>
  </div>
</div>