<div class="trust">
  <div class="container mx-auto">
    <div class="container mx-auto grid grid-flow-col max-w-7xl">
      <div class="left-text">
        <h2 class="left-text__title">Почему вы можете нам доверять</h2>
        <span class="left-text__description">как доверяют более 20 000 наших постоянных клиентов по всей России и
          СНГ</span>
      </div>
      <div class="right-text">
        <ul class="icon-list">
          <li><svg class="icon">
              <use xlink:href="#v"></use>
            </svg>Вся наша продукция сертифицирована</li>
          <li><svg class="icon">
            <use xlink:href="#block"></use>
          </svg>Мы более 11 лет являемся поставщиком HoReCa в СНГ</li>
          <li><svg class="icon">
            <use xlink:href="#crowd"></use>
          </svg>Индивидуально подходим к каждому клиенту</li>
          <li><svg class="icon">
            <use xlink:href="#mark"></use>
          </svg>Вся продукция имеет маркировку Честный Знак</li>
        </ul>
      </div>
    </div>
    <div class="bot-text">
      <ul class="list">
        <li>Швейная Фабрика полного цикла</li>
        <li><span>1000 м2</span> производственная площадь</li>
        <li><span>до 1000</span> изделий в день</li>
        <li><span>более 1.5 млн</span> изделий - опыт производства</li>
      </ul>
    </div>
  </div>
</div>