<footer class="p-10 bg-white text-black">
  <div class="container mx-auto max-w-7xl footer">
    <aside>
      {{>logo}}
    </aside>
    <nav class="grid grid-flow-col gap-4 font-semibold">
      <a class="link link-hover">Политика конфиденциальности</a>
      <a class="link link-hover">Согласие на рассылку</a>
    </nav>
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a class="link-social" href="#!">
          <svg class="icon">
            <use xlink:href="#linkedin"></use>
          </svg>
        </a>
        <a class="link-social" href="#!"><svg class="icon">
            <use xlink:href="#fb"></use>
          </svg></a>
        <a class="link-social" href="#!"><svg class="icon">
            <use xlink:href="#git"></use>
          </svg></a>
      </div>
    </nav>
  </div>
</footer>