<div class="card w-96 bg-secondary rounded-none">
  <figure class="pt-10 rounded-none">
    <img src="/assets/img/content/products/0.jpg" alt="Shoes" class="" />
  </figure>
  <div class="card-body w-full">
    <h2 class="card-title">Товар</h2>
    <p>Особенность товара 1</p>
    <p>Особенность товара 2</p>
    <p>Особенность товара 3</p>
    <div class="card-actions items-end justify-between w-full flex-nowrap">
      <span class="price uppercase text-xl text-primary font-bold">от 100000 руб.</span>
      <button class="btn btn-primary rounded-none btn-lg">Заказать</button>
    </div>
  </div>
</div>