<div class="swiper-slide py-4">
  <div class="container relative bg-neutral max-w-lg border-primary border-2 p-4 shadow-lg">
    <svg class="icon-quote">
      <use xlink:href="#quotes"></use>
    </svg>
    {{>starRating}}
    <div class="slide__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
      тексты. Переписывается заглавных рекламных приставка возвращайся!</div>
    <div class="slide__avatar"><img class="avatar" src="/assets/img/content/reviews/Avatar.png" alt="Имя клиента" class="avatar-img"><span class="avatar-name">Василий
        Крыжовнич</span></div>
  </div>
</div>