<div class="slide__rating">
  <!-- <ul class="star-rating">
    <li class="list-item"><svg class="icon-star">
        <use xlink:href="#Star"></use>
      </svg></li>
    <li class="list-item"><svg class="icon-star">
        <use xlink:href="#Star"></use>
      </svg></li>
    <li class="list-item"><svg class="icon-star">
        <use xlink:href="#Star"></use>
      </svg></li>
    <li class="list-item"><svg class="icon-star">
        <use xlink:href="#Star"></use>
      </svg></li>
    <li class="list-item"><svg class="icon-star">
        <use xlink:href="#Star"></use>
      </svg></li>
  </ul> -->
  <div class="rating">
    <input type="radio" name="rating-1" class="mask mask-star" />
    <input type="radio" name="rating-1" class="mask mask-star" checked />
    <input type="radio" name="rating-1" class="mask mask-star" />
    <input type="radio" name="rating-1" class="mask mask-star" />
    <input type="radio" name="rating-1" class="mask mask-star" />
  </div>
</div>